# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# Authentication, Cloud Firestore, Realtime Database or Cloud Storage
emulators-data/

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local